*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
body{
    background: linear-gradient(90deg, rgba(2,12,64,1) 0%, rgba(12,107,108,1) 35%, rgba(0,167,162,1) 68%, rgba(14,190,185,1) 88%);
}
#caixa-sorteio{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    margin: 0 35px;
}
#sorteio{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    border: 2px solid rgb(100, 114, 190);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
}
#centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    width: 120px;
    height: 60px;
    background-color: rgb(77, 169, 250);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
 
}
button:hover{
    background-color:rgb(212, 232, 250) ;
    transition: .9s;
    color: rgb(77, 169, 250);
    cursor: pointer;
    
}
#cartela{
    width: 520px;
    height: 612px;
    background-color: rgb(204, 253, 237);
    box-shadow:  5px 5px 10px black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    border-radius: 50px;
    padding: 30px;
}
.cartelas-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    
}
.cartela-column-celulas{
    width: 80px;
    height: 80px;
    border:1px solid rgb(0, 76, 95);
    background-color: rgba(0, 178, 223, 0.13);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    padding: 3px;
}
.cartela-column-celulas-bingo{
    width: 98px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    padding: 3px;
    font-size: 20pt;
}
#card-13{
    border: none;
    background-color: transparent;
    background-image: url(joker.png);
    background-size: cover;
}
#btnSortear{
    visibility:hidden;
}